/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
/* Global Reset & Box Sizing */

* {
    /* -webkit-text-size-adjust: 100%; */
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}

/* Element Reset & Normalize */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
p {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Base Typography */
body {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

/* Links */
a {
    outline: none;
    transition: all 450ms ease-in-out 0s;
    -webkit-transition: all 450ms ease-in-out 0s;
    -moz-transition: all 450ms ease-in-out 0s;
}

a:hover {
    outline: none;
    text-decoration: none;
}

/* focus */
a:focus-visible {
    outline: 2px dashed #06a7e1 !important;
    outline-offset: 1px !important;
}

*:focus-visible {
    outline-offset: 1px !important;
    outline: 2px dashed #06a7e1 !important;
}

a:not([href]):not([tabindex]):focus-visible {
    outline: 2px dashed #06a7e1 !important;
    outline-offset: 1px !important;
}

/* Apply custom outline style only for keyboard focus */
*:focus:not(:focus-visible) {
    outline: none !important;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border: 0;
    display: block;
}

/* Utilities */

/* Forms */
input[type="button"],
input[type="submit"],
input[type="reset"] {
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
    outline: none;
    font-family: inherit;
}

/* Layout Containers */
* {
    font-family: 'Lexend Mega', sans-serif;
}

.container {
    max-width: 1404px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* scrollbar */
/* For Firefox */
.minimal-scrollbar {
    scrollbar-width: thin;
    /* makes the scrollbar thinner */
    scrollbar-color: hotpink #f1f1f1;
    /* thumb color track color */
}

/* For Chrome, Safari, and Opera */
.minimal-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* width of the vertical scrollbar */
    height: 8px;
    /* height of the horizontal scrollbar */
}

.minimal-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* rounds the scroll thumb corners */
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color on hover */
}